{% extends 'base.html' %}

{% block body %} 

<div>
    <h1>Todo List with ThiHa.</h1>
    <a href="{% url 'TodoCreate' %}">+ Create</a> 
    <br><br><br>
</div>

<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>status</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th>action</th>
    </tr>

    {% for i in todo %} <!-- todo come from view -->

    <tbody>
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.description }}</td>
            <td><input type="checkbox" {% if i.completed %} checked {% endif %}><span>Completed</span></td>
            <td>{{ i.created_at }}</td>
            <td>{{ i.updated_at }}</td>
            <td>
                <a href="{% url 'TodoDetail' i.id %}">Details</a>
                <a href="#">Update</a>
                <!-- <a href="{% url 'TodoDelete' i.id %}">Delete</a> -->
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}