{% extends 'base.html' %}

{% block body %} 

<h1>Todo List with ThiHa.</h1>

<!-- {% for i in todo %}

<h1> ID => {{i.id}}</h1>
<h1> title =>{{i.title}} </h1>
<h1> description =>{{i.description}}</h1>
<input type="checkbox" {% if i.completed %} checked {% endif %}><span>Completed</span>
<h1>created_at => {{i.created_at}}</h1>
<h1>updated_at => {{i.updated_at}}</h1>
<hr>


{% endfor %} -->

<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>status</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th>action</th>
    </tr>

    {% for i in todo %} <!-- todo come from view -->

    <tbody>
        <td>{{ i.id }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.description }}</td>
        <td>4</td>
        <td>{{ i.created_at }}</td>
        <td>{{ i.updated_at }}</td>
        <td>
            <a href="#">Details</a>
            <a href="#">Update</a>
            <a href="#">Delete</a>
        </td>
    </tbody>
    {% endfor %}
</table>

{% endblock %}